#title {
   background-color: #ff4c68;
   color:#fff;
}
body{
    font-family: montserrat;
}
.container-fluid{
    padding: 3% 15%;
}
.navbar {
    padding: 0 0 4.5rem;
}
h1 {
    font-family: 'Montserrat-Black', sans-serif;
    size: 3.5rem;
    line-height: 1.5;  
}

.download-button{
    margin: 5% 3% 5%;
}
.navbar-brand {
    font-family: ubuntu;
    font-size:2.5rem;
    font-weight: bold;

}
.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "monteserrat-Light";
}

.title-image { 
  transform: rotate(25deg);
  width: 60%;
  padding-top: 0;
  margin-bottom: -200px;
  position: relative;
  right: 2%;
}

#features {
  position: relative;
  text-align: center;
  padding: 8% 15%;
  z-index: 3;
  background-color: white;
}

h3{
    font-size: 1.5rem;
    font-family: "montserrat-Bold";
}
p{
    color: #8f8f8f;
}

.feature-box {
    text-align: center;
}
.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover {
    color:#ff4c68;
}

#testimonials {
 text-align: center;
 background-color: #ef8172;
 color:#fff;
}
h2 {
    font-family: "montserrat-Bold";
    font-size: 3rem;
    line-height: 1.5rem;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item {
    padding: 7% 15%;
}

#pricing {
    padding: 100px;
    text-align: center;
}
.pricing-column {
    padding: 3% 2%;
}
@media (max-width: 1028px) {
#title {
    text-align: center;
}
.title-image{
    position:static;
    transform:rotate(0);
}
}
#cta {
    background-color: #ff4c68;
    height: 50%;
}